.header {
    border-bottom: 1px solid getColor('headerBorder');
    background-color: getColor('mainBg');

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
