@mixin transition ($property...){
    transition-property: $property ;
    transition-duration: $transitioDuration;
    transition-timing-function: $cubicBezier;

}

@mixin font ($family: Roboto, $style: normal, $weight: 400, $size: 14px, $height: 1.14 , $spacing: 0.02em, $color: map-get($colors , "main-text-color")) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;

    color: $color;
}

@mixin button ($min-width: 200px,){
    display: flex;
    align-items: center;
    min-width: $min-width;
    border-radius: $borderRadius;
    @include font($weight: 700, $size: 16px, $height: 1.87, $spacing: .06em, $color:map-get($colors, "main-white-color"));
    cursor: pointer;
    background-color: getColor(accent);
    @include transition(background-color);
    box-shadow: $btnShadow;
}
