
$flexGap: 15px;
$borderRadius: 4px;
$sectionPadding: 60px;
$sectionDsktpPddng: 94px;
$sectionHeroPddng: 118px;
$sectionHeroDsktpPad: 200px;
$containerPadding: 15px;
$minWidth: 320px;
$mobile: 480px;
$mobileMax: 767px;
$tablet: 768px;
$tabletMax: 1199px;
$desktop: 1200px;
