    .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: $borderRad;
    cursor: pointer;
    background-color: getColor('accent');
    @include font ($fw: 700, $fz: 16px, $lh: 1.87, $ls: .06em, $col: getColor('buttonColor'));
    @include transition(background-color);
    box-shadow: 0px 4px 4px 0px getColor('btnShadow');

    &:hover,
    &:focus {
        background-color: getColor('btnAction');
    }
    }