.logo {
    display: inline-block;
    @include font(
        $ff: Raleway,
        $fw: 700,
        $fz: 24px,
        $lh: 1.17,
        $col: getColor('accent')
    );
    @include transition(color);
    @include breakpoint($desktop) {
        font-size: 26px;
        line-height: 1.19;
    }

    &__header {
        padding-top: 16px;
        padding-bottom: 15px;
        @include breakpoint($tablet) {
            padding-top: 26px;
            padding-bottom: 25px;
        }
    }
    &--header-style {
        color: getColor('secondaryLogo');
        @include transition(color);
    }
    &__footer {
        margin-bottom: 20px;
    }
    &--footer-style {
        color: getColor('secondaryTitle');
        @include transition(color);
    }
    // Тут просто експеримент з фокусом/ховером ,бо на макеті його немає
    &:hover,
    &:focus,
    &:hover &--footer-style,
    &:focus &--footer-style,
    &:hover &--header-style,
    &:focus &--header-style {
        color: getColor('btnAction');
    }
}
