.social-networks {
    @extend %centeredFlex;

    &__item:not(:last-child) {
        margin-right: 10px;
    }
    &__link {
        @extend %centeredFlex;
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 50%;
        color: getColor('socialLinkTeam');
        @include transition (color, background-color);
    }
    &__link:hover,
    &__link:focus {
        background-color: getColor('accent');
        color: getColor("secondaryTitle" );
    }
    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
    &__link--footer-style {
        color: getColor('secondaryTitle');
        background-color: getColor('socLinkBgFoot');
        @include transition (background-color);
    }
    &__link--footer-style:hover,
    &__link--footer-style:focus {
        background-color: getColor('accent');
    }
    &__text {
        margin-bottom: 20px;
        @include font ($fw: 700, $lh: 1.14, $col: getColor('secondaryTitle'));
        text-transform: uppercase;
        text-align: center;
    }

    &--footer {
        margin-bottom: 60px;
    }
}