$containerPadd: 15px;
$sectionPadd: 60px;
$sectionDesktopPadd: 94px;
$borderRad: 4px;
$gap :30px;
$mobile: 480px;
$mobileMax: 767px;
$tablet: 768px;
$tabletMax: 1199px;
$desktop: 1200px;
$flexGap: 15px;