$containerPadd: 15px;
$sectionPadd: 60px;
$heroPadd: 118px;
$heroDesktopPadd: 200px;
$sectionDesktopPadd: 94px;
$footerPad: 60px;
$borderRad: 4px;
$gap: 30px;
$mobile: 480px;
$mobileMax: 767.98px;
$tablet: 768px;
$tabletMax: 1199.98px;
$desktop: 1200px;
$flexGap: 15px;
