
.header {
    border-bottom: $borderWidth solid getColor(header-border);
    background-color: getColor(main-bg);
    position: relative;    
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}