.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 48px 40px;
    background-color: getColor(main-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    @include transition(transform);
    
    &.is-open {
        transform: translateX(0);
    }
}